.sidebarButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 12px 15px;
    border-radius: 8px;
    background-color: transparent;
    gap: 10px;
    color: #ffff;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebarButton.active{
    background-color: var(--brand-sidebar);
    border: 1px solid var(--brand-sidebar);

}
.sidebarButton:hover{
    background-color: var(--brand-sidebar-hover);
    border: 1px solid var(--sidebar-border);
}
.sidebarButton span{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}
.sidebarButton p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}